/exercicios_operadores/nbproject/private/
/exercicios_operadores/build/
/exercicio_2_altura_e_largura/nbproject/private/
/exercicio_2_altura_e_largura/build/
/exercicio_3_idade_/nbproject/private/
/exercicio_3_idade_/build/
/exercicio_4_ numero_de_eleitores/nbproject/private/
